<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap libraries -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>

    <title>Candidates</title>
    <link rel="stylesheet" th:href="@{css/css.css}">
    <style>

        :root {
            --tFontSize: 13px;
        }

        .vp {
            color: #fff;
            background-color: #27a844;
            border-radius: 5px;
            border: 1px solid #27a844;
        }

        .vp a {
            text-decoration: none;
            color: #fff;
        }

        #search-bar {
            width: 40%;
        }

        #sort-bar {
            width: 40%;
            margin-left: 20%;
        }

        @media only screen and (orientation: portrait) {
            #search-bar {
                width: 100%;
            }

            #sort-bar {
                width: 100%; margin-left: 0;
            }
        }

        /* candidate table style*/
        table {
            min-width: max-content;
            font-size: var(--tFontSize);
        }

        tr, th, td {
            border: 1px solid #e9ecef;
        }

        td{
            padding: 0;
        }

        table th {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            text-align: center;
            font-weight: bold;
        }

        /*table th:last-child {*/
        /*    position: sticky;left: 100%;*/
        /*}*/

        /*Make the first column fixed*/
        th:first-child, td:first-child {
            position: sticky;
            position: -webkit-sticky;
            left: 0;
            background-color: whitesmoke;
            color: #2b364c;
            z-index: 1;
            max-width: fit-content;
        }

        /*make the last column fixed*/
        th:last-child, td:last-child{
            position:sticky;
            z-index:1; background-color: whitesmoke;
            color: #2b364c;
            left: 90%;
        }

        td {
            text-align: center;
        }

        thead {
            color: #fff;font-weight: bold;
        }

        th, td {
            font-weight: normal; color: #2b364c;
        }

        .tbl-container {
            max-width: 100%;max-height: fit-content;
        }

        .table-input, .table-select{
            background-color: transparent;
            color:#2b364c;
            width: 100%;
            padding:10px;
            border: 0;
            box-sizing: border-box;
            margin: -10px;
            text-align: center;
        }

        .table-input:invalid{
            color:#f00;
        }

        .table-input:valid{
            color:#2b364c;
        }

        tr:hover, .table-input:hover, .table-select:hover{
            background-color: #e4e4e4;
            cursor: pointer;
        }

    </style>
</head>
<body>
<!-- Add header to the top of this page -->
<header th:insert="header::header"></header>
<main class="main-content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9  p-5">
            <div class="container row">
                <div id="search-bar" class="input-group mb-3">
                    <div class="input-group-prepend">
                <span class="input-group-text" style="border-radius: 5px 0 0 5px; cursor: pointer;">
                   <label for="search-input" style="cursor: pointer;">Search</label>
                </span>
                    </div>
                    <input id="search-input" class="form-control" type="text" style="border-radius: 0;">
                </div>
                <div id="sort-bar" class="input-group mb-3">
                    <div class="input-group-prepend">
                <span class="input-group-text" style="border-radius: 5px 0 0 5px; cursor: pointer;">
                    <label for="sort-input" style="cursor: pointer;">Sort by</label>
                </span>
                    </div>
                    <select id="sort-input" class="form-select" style="border-radius: 0;">
                        <option selected>choose...</option>
                        <option value="Student Number">Student Number</option>
                        <option value="Forename">Forename</option>
                        <option value="Application Status code">Application Status Code</option>
                        <option value="Offer Condition">Offer Condition</option>
                    </select>
                </div>
            </div>
            <div class="container tbl-container">
                <form>
<!--                    <div class="tbl-fixed table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl table-responsive-xxl">-->
                    <div class="tbl-fixed" style="overflow-x: auto; overflow-y: auto;">

                        <table id="candidatesTable" class="table table-condensed">
                            <thead>
                            <tr>
                                <th scope="col">UCAS CARDIFF COURSE CODE</th>
                                <th scope="col">CARDIFF COURSE CODE</th>
                                <th scope="col">RECORD FIRST CREATED</th>
                                <th scope="col">ENTRY YEAR</th>
                                <th scope="col">STUDENT NO</th>
                                <th scope="col">PERSONAL ID</th>
                                <th scope="col">APPLICATION STATUS CODE</th>
                                <th scope="col">LATEST DECISION CODE (CAP)</th>
                                <th scope="col">FORENAME</th>
                                <th scope="col">SURNAME</th>
                                <th scope="col">DATE OF BIRTH</th>
                                <th scope="col">GENDER</th>
                                <th scope="col">FEE STATUS</th>
                                <th scope="col">CORRESPONDENCE LANG WELSH</th>
                                <th scope="col">WELSH SPEAKER INDICATOR</th>
                                <th scope="col">COUNTRY OF DOMICILE</th>
                                <th scope="col">NATIONALITY</th>
                                <th scope="col">HOME EMAIL</th>
                                <th scope="col">DATE RECEIVED FROM ADMIN</th>
                                <th scope="col">CONTEXTUAL FLAG?</th>
                                <th scope="col">APPLICATION STATUS IN HCARE AO</th>
                                <th scope="col">APPLICATION STATUS COMMENTS</th>
                                <th scope="col">FEE STATUS COMMENTS</th>
                                <th scope="col">HIGHEST LEVEL OF QUALIFICATION</th>
                                <th scope="col">GRADES ACHIEVED</th>
                                <th scope="col">KEEPING WARM EMAIL SENT?</th>
                                <th scope="col">TOTAL PERSONAL STATEMENT SCORE</th>
                                <th scope="col">INTERVIEW INVITE SENT?</th>
                                <th scope="col">INTERVIEW DATE</th>
                                <th scope="col">INTERVIEW INVITE COMMENTS</th>
                                <th scope="col">TOTAL INTERVIEW SCORE</th>
                                <th scope="col">FTP CHECKED?</th>
                                <th scope="col">OFFER CONDITIONS</th>
                                <th scope="col">NON-STANDARD QUALS CHASER EMAIL</th>
                                <th scope="col">GRADES ACHIEVED AFTER</th>
                                <th scope="col">CONFIRMATIONS ON COMMENTS</th>
                                <th scope="col">OFFER EMAIL SENT?</th>
                                <th scope="col">ISSUE DATE</th>
                                <th scope="col">DBS CERTIFICATE NUMBER</th>
                                <th scope="col">FA STATUS</th>
                                <th scope="col">UPDATE SERVICE</th>
                                <th scope="col">ESSENTIAL TODOS</th>
                                <th scope="col">ENROLMENT CRITERIA COMMENTS</th>
                                <th scope="col" style="width: 210px;">ACTION</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="candidate:${candidates}">
                                <th scope="row" th:text="${candidate.UCASCardiffCourseCode}"></th>
                                <td id="cardiff-course-code-column">
                                    <label for="cardiff-course-code-input"></label>
                                    <input id="cardiff-course-code-input" name="cardiff-course-code-input" class="table-input" type="text" th:value="${candidate.cardiffCourseCode}" pattern="[A-Z0-9]{1,10}">
                                </td>
                                <td th:text="${candidate.recordFirstCreated}"></td>
                                <td th:text="${candidate.entryYear}"></td>
                                <td th:text="${candidate.studentNo}"></td>
                                <td id="personal-id-column">
                                    <label for="personal-id-input"></label>
                                    <input id="personal-id-input" name="personal-id-input" class="table-input" type="text" th:value="${candidate.personalID}" pattern="[A-Z0-9]{1,15}">
                                </td>
                                <td id="application-status-Code-column">
                                    <label for="application-status-code-options"></label>
                                    <select class="table-select" id="application-status-code-options">
                                        <option value="$" th:text="${candidate.applicationStatusCode.code}"></option>
                                        <option value="val1" title="Application">A</option>
                                        <option value="val2" title="Gather field on hold">GF</option>
                                        <option value="val3" title="Other reason on hold">OR</option>
                                        <option value="val4" title="Awaiting interview on hold">OH</option>
                                        <option value="val4" title="Rejected">R</option>
                                        <option value="val4" title="Conditional offer made">C</option>
                                        <option value="val4" title="Conditional offer firm">CF</option>
                                        <option value="val4" title="Conditional offer declined">CD</option>
                                        <option value="val4" title="Unconditional offer made">U</option>
                                        <option value="val4" title="Unconditional offer firmed">UF</option>
                                        <option value="val4" title="Unconditional offer insured">UI</option>
                                        <option value="val4" title="Unconditional offer declined">UD</option>
                                        <option value="val4" title="Withdrawal">W</option>
                                    </select>
                                </td>
                                <td id="latest-decision-code-column">
                                    <label for="latest-decision-code-input"></label>
                                    <input id="latest-decision-code-input" class="table-input" type="text" th:value="${candidate.latestDecisionCode}" pattern="^[A-Za-z0-9\s]+$"/>
                                </td>
                                <td id="firstname">
                                    <label for="firstname-input"></label>
                                    <input id="firstname-input" class="table-input" type="text" th:value="${candidate.firstName}" pattern="[A-Za-z]{2,30}">
                                </td>
                                <td id="surname-column">
                                    <label for="surname-input"></label>
                                    <input class="table-input" id="surname-input" type="text" th:value="${candidate.surname}" pattern="[A-Za-z]{2,30}">
                                </td>
                                <td th:text="${candidate.dateOfBirth}"></td>
                                <td id="gender-column">
                                    <label for="gender-select"></label>
                                    <select id="gender-select" class="table-select" name="gender-select">
                                        <option value="$" th:text="${candidate.gender.gender}"></option>
                                        <option value="val1" title="Female">F</option>
                                        <option value="val2" title="Male">M</option>
                                    </select>
                                </td>
                                <td id="feeStatus-column">
                                    <label for="feeStatus-select"></label>
                                    <select id="feeStatus-select" name="feeStatus-select" class="table-select">
                                        <option value="$" th:text="${candidate.feeStatus.getFeeStatus()}"></option>
                                        <option value="val1" title="Home">H</option>
                                        <option value="val2" title="International">I</option>
                                    </select>
                                </td>
                                <td id="correspondenceLangWelsh-column">
                                    <label for="correspondenceLangWelsh-select"></label>
                                    <select name="correspondenceLangWelsh-select" id="correspondenceLangWelsh-select" class="table-select">
                                        <option value="$" th:text="${candidate.correspondenceLangWelsh.getOption()}"></option>
                                        <option value="val1" title="Yes">Y</option>
                                        <option value="val1" title="No">N</option>
                                    </select>
                                </td>
                                <td id="welshspeaker-column">
                                    <label for="welshspeaker-select"></label>
                                    <select id="welshspeaker-select" name="welshspeaker-select" class="table-select">
                                        <option value="$" th:text="${candidate.welshSpeaker.getResponse()}"></option>
                                        <option value="val1" title="Yes">Y</option>
                                        <option value="val2" title="No">N</option>
                                        <option value="val3" title="Not applicable">N/A</option>
                                    </select>
                                </td>
                                <td id="countryOfDomicile-column">
                                    <label for="country-of-domicile-input"></label>
                                    <input type="text" id="country-of-domicile-input" class="table-input" th:value="${candidate.countryOfDomicile}" pattern="[A-Za-z\s]{2,50}"/>
                                </td>
                                <td id="nationality-column">
                                    <label for="nationality-input"></label>
                                    <input id="nationality-input" name="nationality-input" class="table-input" type="text" th:value="${candidate.nationality}" pattern="[A-Za-z\s]{2,50}">
                                </td>
                                <td id="home-email-column">
                                    <label for="home-email-input"></label>
                                    <!-- Could not do email validation because the source file and database did not handle it-->
                                    <input id="home-email-input" class="table-input" th:value="${candidate.homeEmail}">
                                </td>
                                <td th:text="${candidate.dateReceived}"></td>
                                <td id ="contextual-flag-column">
                                    <label for="contextual-flag-select"></label>
                                    <select name="contextual-flag-select" id="contextual-flag-select" class="table-select">
                                        <option value="$" th:text="${candidate.contextualFlag.getOption()}"></option>
                                        <option value="val1" title="Yes">Y</option>
                                        <option value="val1" title="No">N</option>
                                    </select>
                                </td>
                                <td id="application-status-hcare">
                                    <label for="application-status-hcare-input"></label>
                                    <input id="application-status-hcare-input" name="application-status-hcare-input" class="table-input" type="text" th:value="${candidate.getApplicationStatusHCare}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="application-status-comments-column">
                                    <label for="application-status-comments-input"></label>
                                    <input id="application-status-comments-input" name="application-status-comments-input" type="text" class="table-input" th:value="${candidate.applicationStatusComments}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="fee-status-comment-column">
                                    <label for="fee-status-comment-input"></label>
                                    <input id="fee-status-comment-input" type="text" class="table-input" th:value="${candidate.feeStatusComments}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="highest-level-qualification-column">
                                    <label for="highest-level-qualification-input"></label>
                                    <input id="highest-level-qualification-input" type="text"  class="table-input" th:value="${candidate.highestLevelQualification}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="grade-achieved-column">
                                    <label for="grade-achieved-input"></label>
                                    <input id="grade-achieved-input" name="grade-achieved-input" type="text" class="table-input" th:value="${candidate.gradesAchieved}" pattern="[A-Za-z0-9]{1,}">
                                </td>
                                <td id="keeping-warm-email-sent-column">
                                    <label for="keeping-warm-email-sent-select"></label>
                                    <select name="keeping-warm-email-sent-select" id="keeping-warm-email-sent-select" class="table-select">
                                        <option value="$" th:text="${candidate.keepingWarmEmailSent.getOption()}"></option>
                                        <option value="val1" title="Yes">Y</option>
                                        <option value="val1" title="No">N</option>
                                    </select>
                                </td>
                                <td id="total-personal-statement-score-column">
                                    <label for="total-personal-statement-score-input"></label>
                                    <input id="total-personal-statement-score-input" name="total-personal-statement-score-input" type="number" max="100" min="0" class="table-input" th:value="${candidate.totalPersonalStatementScore}">
                                </td>
                                <td id="invite-interview-column">
                                    <label for="invite-interview-input"></label>
                                    <select name="invite-interview-input" id="invite-interview-input" class="table-select">
                                        <option value="$" th:text="${candidate.inviteInterview.getOption()}"></option>
                                        <option value="val1" title="Yes">Y</option>
                                        <option value="val1" title="No">N</option>
                                    </select>
                                </td>
                                <td id="interview-date-column">
                                    <label for="interview-date-input"></label>
                                    <input id="interview-date-input" name="interview-date-input" class="table-input" th:value="${candidate.interviewDate}" type="date">
                                </td>
                                <td id="interview-comments-column">
                                    <label for="interview-comments-input"></label>
                                    <input id="interview-comments-input" name="interview-comments-input" class="table-input"  th:value="${candidate.interviewInviteComments}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="total-interview-score-column">
                                    <label for="total-interview-score-input"></label>
                                    <input id="total-interview-score-input" name="total-interview-score-input" class="table-input" type="number" max="100" min="0"   th:value="${candidate.totalInterviewScore}">
                                </td>
                                <td id="ftp-checked-column">
                                    <label for="ftp-checked-input"></label>
                                    <select name="ftp-checked-input" id="ftp-checked-input" class="table-select">
                                        <option value="$" th:text="${candidate.FTPChecked.getOption()}"></option>
                                        <option value="val1" title="Yes">Y</option>
                                        <option value="val1" title="No">N</option>
                                    </select>
                                </td>
                                <td id="offer-conditions-column">
                                    <label for="offer-conditions-input"></label>
                                    <input id="offer-conditions-input" name="offer-conditions-input" class="table-input" th:value="${candidate.offerConditions}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="non-standard-qualification-chaser-email-column">
                                    <label for="non-standard-qualification-chaser-email-input"></label>
                                    <input id="non-standard-qualification-chaser-email-input" name="non-standard-qualification-chaser-email-input" class="table-input" th:value="${candidate.nonStandardQualificationsChaserEmail}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="grades-achieved-after-column">
                                    <label for="grades-achieved-after-input"></label>
                                    <input id="grades-achieved-after-input" name="grades-achieved-after-input" class="table-input" th:value="${candidate.gradesAchievedAfter}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="confirmation-comments-column">
                                    <label for="confirmation-comments-input"></label>
                                    <input id="confirmation-comments-input" name="confirmation-comments-input" class="table-input" th:value="${candidate.confirmationComments}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="offer-email-sent-column">
                                    <label for="offer-email-sent-select"></label>
                                    <select id="offer-email-sent-select" name="offer-email-sent-select" class="table-select">
                                        <option value="$">Y</option>
                                        <option value="val1" title="Yes">Y</option>
                                        <option value="val2" title="No">N</option>
                                    </select>
                                </td>
                                <td id="issue-date-column">
                                    <label for="issue-date-input"></label>
                                    <input id="issue-date-input" name="issue-date-input" class="table-input" type="date" th:value="${candidate.issueDate}">
                                </td>
                                <td id="dbs-cert-number-column">
                                    <label for="dbs-cert-number-input"></label>
                                    <input id="dbs-cert-number-input" name="dbs-cert-number-input" class="table-input" th:value="${candidate.DBSCertNumber}" pattern="[0-9]{12}">
                                </td>
                                <td id="fa-status-column">
                                    <label for="fa-status-input"></label>
                                    <input id="fa-status-input" name="fa-status-input" class="table-input" th:value="${candidate.FAStatus}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="service-update-column">
                                    <label for="service-update-input"></label>
                                    <input id="service-update-input" name="service-update-input" class="table-input" th:value="${candidate.updateService}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="essential-todos-column">
                                    <label for="essential-todos-input"></label>
                                    <input id="essential-todos-input" name="essential-todos-input" class="table-input" th:value="${candidate.essentialToDos}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td id="enrolment-criteria-comment-column">
                                    <label for="enrolment-criteria-comment-input"></label>
                                    <input id="enrolment-criteria-comment-input" name="enrolment-criteria-comment-input" class="table-input" th:value="${candidate.essentialToDos}" pattern="^[A-Za-z0-9\s]+$">
                                </td>
                                <td style="width: 300px;">
                                    <button class="vp" style="width: 100px;"><a th:href="@{/profile}">View Profile</a></button>
                                    <button class="vp" style="width: 100px;"><a>Edit</a></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <aside class="col-lg-4" th:insert="summary_bar::summary_bar"></aside>
    </div>
</main>
<!-- add a reusable footer -->
<footer th:insert="footer :: footer"></footer>
</body>
</html>