<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<aside id="aside" th:fragment="summary_bar(offersRecommended, placesOffered, offersSent)" class="w-25 p-3">
    <p class="text-center">Places offered</p>
    <div id="placesOffered" class="alert alert-success summary-info-view" role="alert"
         style="width:100px;margin:auto;left:0;right:0;text-align:center;background-color:#27a844;color:white;"
         th:text="${placesOffered}">100
    </div>
    <br>
    <p class="text-center">Offer recommended</p>
    <div id="offersRecommended" class="alert alert-success summary-info-view" role="alert"
         th:text="${offersRecommended}"
         style="width:100px;margin:auto;left:0;right:0;text-align:center;background-color:#27a844;color:white">206
    </div>
    <br>
    <p class="text-center ">Offers sent</p>
    <div id="offersSent" class="alert alert-success summary-info-view" role="alert" th:text="${offersSent}"
         style="width:100px;margin:auto;left:0;right:0;text-align:center;background-color:#27a844;color:white">3
    </div>
    <br>
    <div id="excel-icon-holder" class="text-center " style="background: #2b364c; border-radius: 5px; padding: 5px;">
        <span style="color: #fff; font-weight: bold;">Download</span>
        <br>
        <a th:href="@{/summary/download_excel}">
            <img id="excel-icon" th:src="@{/images/Excel-icon.png}"
                 src="../static/images/Excel-icon.png"
                 style="text-align:center;
             background-color:#f8f4f4; width: 80px; border-radius: 5px;"
                 alt="excel-icon">
        </a>
    </div>
    <script th:inline="javascript">
        const placesOffered = /*[[${placesOffered}]]*/ '';
        const offersRecommended = /*[[${offersRecommended}]]*/ '';
        const offersSent = /*[[${offersSent}]]*/ '';

        const placesOfferedDiv = document.querySelector("#placesOffered");
        const offersRecommendedDiv = document.querySelector("#offersRecommended");
        const offersSentDiv = document.querySelector("#offersSent");

        if ((placesOffered < 0) || (placesOffered >= 0 && placesOffered < 50))
            placesOfferedDiv.style.background = "#ff474c";
        else if (placesOffered >= 50 && placesOffered <= 99)
            placesOfferedDiv.style.background = "#006ff9";
        else
            placesOfferedDiv.style.background = "#27A844FF";

        if ((offersRecommended < 0) || (offersRecommended >= 0 && offersRecommended < 50))
            offersRecommendedDiv.style.background = "#ff474c";
        else if (offersRecommended >= 50 && offersRecommended <= 99)
            offersRecommendedDiv.style.background = "#006ff9";
        else
            offersRecommendedDiv.style.background = "#27A844FF";

        if ((offersSent < 0) || (offersSent >= 0 && offersSent < 50))
            offersSentDiv.style.background = "#ff474c";
        else if (offersSent >= 50 && offersSent <= 99)
            offersSentDiv.style.background = "#006ff9";
        else
            offersSentDiv.style.background = "#27A844FF";

    </script>
</aside>
<script th:src="@{/script/script.js}"></script>
</body>
</html>